/* general classes */

.center {
    text-align: center;
}

.row {
    padding: 1em;
    margin: 1em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

input,
textarea,
input {
    width: 50%;
    padding: 1em;
    margin: 1em;
}


/* styling index.html */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px gray;
    background: #e6e6e6;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* styling header elements */

.header {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 1.5em;
}

.header a {
    color: floralwhite;
    margin: 2em;
    font-size: 1em;
    text-decoration: none;
}

.header>li a:hover {
    text-decoration: underline;
    color: #ACBDE5;
}

.header li {
    list-style: none;
}


/* styling footer elements */

footer {
    background-color: grey;
    padding: 1.5em;
    color: floralwhite;
    text-align: center;
    font-size: 1.5em;
}


/* grid system 2 */

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}